<%-include("partials/header.ejs")%>
<div class="row">
    <div class="col-md-6">
        <div class="wrapper">
            <div class="logo">
                <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
            </div>
            <div class="text-center mt-4 name">
               Sign in 
            </div>
            <form class="p-3 mt-3" action="unAcceptedReq" method="POST">
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" name="userName" id="userName" placeholder="clinic Name">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="password" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-3">Pending</button>
            </form>
            <div class="text-center fs-6">
              <a href="/register">Sign up</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="wrapper">
            <div class="logo">
                <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
            </div>
            <div class="text-center mt-4 name">
               Sign in 
            </div>
            <form class="p-3 mt-3" action="/acceptedReq" method="POST">
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" name="userName" id="userName" placeholder="clinic Name">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="password" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-3">Accepted</button>
              
            </form>
            <div class="text-center fs-6">
              <a href="/register">Sign up</a>
            </div>
        </div>
    </div>
</div>

<%-include("partials/footer.ejs")%>