<%-include("partials/header.ejs")%>
<div class="container" style="min-height:400px">
    <img src="" alt="No image now">
    <h1>Thanks <span><%=e%></span> taking appointment! </h1>
</div>
<%-include("partials/footer.ejs")%>